.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: forestgreen;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    color: blue;
    text-align: center;
}
.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: relative;
    left: 250px;
    top: -115px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    color: blue;
    text-align: center;
}
.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 500px;
    top: -230px;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    color: blue;
    text-align: center;
}